doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Rags2Riches Roleplay
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css')
  link(rel='stylesheet' type='text/css' href='https://unpkg.com/bulma-prefers-dark')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css' integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==' crossorigin='anonymous' referrerpolicy='no-referrer')
  meta(property='og:title' content='Rags2Riches RolePlay')
  meta(property='og:description' content='Rags2Riches roleplay is a well established community with over 20,000 members. We have an active community base and recieve constant updates')
  meta(property='og:image' content='/logo23.jpg')
  meta(name='theme-color' content='#b81c1c')
  script.
    document.addEventListener('DOMContentLoaded', () => {
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        $navbarBurgers.forEach(el => {
            el.addEventListener('click', () => {
                const target = el.dataset.target;
                const $target = document.getElementById(target);
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');
            });
        });
    });
  style.
    html {
        overflow-y: auto;
    }
    #cards {
        padding-top: 0;
        transform: translateY(-20px);
    }
nav.navbar(role='navigation' aria-label='main navigation')
  .navbar-brand
    a.navbar-item(href='/')
      img(src='/assets/r2rlogo.png' height='28')
    a.navbar-burger(role='button' aria-label='menu' aria-expanded='false' data-target='navbarBasicExample')
      span(aria-hidden='true')
      span(aria-hidden='true')
      span(aria-hidden='true')
  #navbarBasicExample.navbar-menu
    .navbar-end
      a.navbar-item(href='https://cfx.re/join/593qp6')
        | Connect
      a.navbar-item(href='/rules.html')
        | Server Rules
      a.navbar-item(href='/jobs.html')
        | Jobs
      //-
        <a class="button">
        <i class="fa-brands fa-discord"></i>
        </a>
      .navbar-item
        .buttons
          a.button.is-link(href='https://discord.gg/r2rrp' target='_blank')
            span.icon
              i.fa-brands.fa-discord
          a.button.is-success(href='https://store.rags2richesrp.com/' target='_blank')
            span.icon
              i.fa-solid.fa-cart-shopping
      //-
        <a class="navbar-item">
        Discord Server
        </a>
      //-
        <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
        More
        </a>
        <div class="navbar-dropdown is-right">
        <a class="navbar-item">
        About
        </a>
        <a class="navbar-item">
        Jobs
        </a>
        <a class="navbar-item">
        Contact
        </a>
        <hr class="navbar-divider">
        <a class="navbar-item">
        Report an issue
        </a>
        </div>
        </div>
block content
footer.footer.mt-6.py-5
  .columns
    .column.has-text
      p.title
        | Useful links
      p.mb-2
        a.subtitle.has-text-light(href='https://discord.gg/r2rrp' target="_blank")
          | Discord
      p.mb-2
        a.subtitle.has-text-light.mb-2(href='https://cfx.re/join/593qp6' target="_blank")
          | Connect
      p.mb-2
        a.subtitle.has-text-light.mb-2(href='https://discord.gg/r2rrp' target="_blank")
          | Discord
      p.mb-2
        a.subtitle.has-text-light.mb-2(href='/rules.html' target="_blank")
          | Server Rules
      //-
        <p class="mb-2">
        <a class="subtitle has-text-light mb-2" href="https://docs.google.com/document/d/1hu6gStVttwmlb5EeLOOO1f0Lp9WiRZwWQlJn_CZKVYc/edit?usp=sharing">
        Tebex Store
        </a>
        </p>
    .column
      p.mb-2
        a.title(href='/rules.html')
      p.mb-2
        a.subtitle.has-text-light.mb-2(href='https://store.rags2richesrp.com/')
          | Tebex Store
      p.mb-2
        a.subtitle.has-text-light.mb-2(href='https://store.rags2richesrp.com/')
    .column.has-text-right
      img(src='/assets/r2rlogo.png' height='215' width='250')
      p.subtitle
        | &copy; Copyright Rags2Riches Roleplay 2022
      p.subtitle
        | Developed by 
        strong
          | Tokyo
          strong
