extends components/layout.pug

block content
  section.section.is-large(style="background-image: url('/assets/background.jpg'); background-position: top; background-size: cover")
    .container
      h1.title.has-text-centered.has-text-grey-darker
        | Rags2Riches Roleplay
  section#cards.section.mb-6
    .container
      .columns
        .column
          a(href="/rules.html").card
            .card-image
              figure.image.is-3by2
                img(src='/assets/logo23.jpg' alt='Placeholder image')
            .card-content
              .content
                a.button.is-primary.is-expanded.is-fullwidth(href="/rules.html") Read Rules
        .column
          a(href="https://discord.gg/r2rrp" target="_blank").card
            .card-image
              figure.image.is-3by2
                img(src='/assets/discordlogo.webp' alt='Placeholder image')
            .card-content
              .content
                button.button.is-link.is-expanded.is-fullwidth Join Server
        .column
          a(href="/jobs.html").card
            .card-image
              figure.image.is-3by2
                img(src='/assets/pdlogo2.png' alt='Jobs' )
            .card-content
              .content
                a.button.is-primary.is-expanded.is-fullwidth(href="/jobs.html") Browse ingame jobsgame jobs